body {
    /*width: 1200px;  desktop-version */
}

.header {
    --header-bg-image: url("../images/banner-bg.jpg");
}

.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}

.header__container {
    padding-top: 28px;
    padding-bottom: 126px;
}

.navbar {
    margin-left: 3px;
}

.navbar__logo {
    width: 179px;
}

.menu-navbar {
    padding-top: 15px;
    padding-bottom: 17px;
}

.menu-navbar__btn-close {
    display: none;
}

.menu-navbar__list {
    display: flex;
}

.header__title {
    max-width: 690px;
    margin-top: 99px;
    font-size: 45px;
    line-height: calc(74.97 / 45); /* 74.97px - по макету */
}

.main {
    margin-top: 61px;
    margin-bottom: 64px;
}

.main-section__title {
    font-size: 20px;
    line-height: 1;
    /*line-height: calc(29.15 / 20);*/ /* 29.15px - по макету */
}

.main-section__title:after {
    top: 31px;
}

.trends__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4px;
    margin-top: 42px;
    margin-right: -4px;
    margin-left: -4px;
}

.item-trends {
    min-height: 320px;
}

.item-trends__content {
    margin: 16px 22px;
    padding: 37px 32px 32px;
}

.item-trends__categories {}

.categories-item-trends__list {
    column-gap: 18px;
}

.categories-item-trends__item {}

.item-trends__title {
    margin-top: 9px;
    font-size: 20px;
    line-height: calc(23.99 / 20); /* 23.99px - по макету */
}

.common-content {
    column-gap: 117px;
    margin-top: 64px;
}

.cards {
    row-gap: 60px;
}

.card {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 30px;
    padding-bottom: 0;
    border-bottom: none;
}

.card__image {
    flex: 0 0 381px;
}

.card__content {}

.card__tags {}

.tags-card__list {
    column-gap: 18px;
}

.tags-card__item {}

.tags-card__link {}

.card__title {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 0;
    font-size: 20px;
    line-height: calc(23.99 / 20); /* 23.99px - по макету */
}

.card__link {}

.card__subtitle {
    column-gap: 12px;
    margin-top: 31px;
    margin-left: 0;
}

.card__date {}

.card__author {}

.card__text {
    margin-top: 47px;
    margin-right: 0;
    margin-left: 0;
}

.text-card {
    row-gap: 11px;
}

.sidebar {
    flex-basis: 272px;
    margin-top: -2px;
}

.latest-posts {
    padding-left: 1px;
}

.sidebar-section__title {}

.latest-posts__title {}

.latest-posts__list {
    margin-top: 44px;
}

.post {
    column-gap: 18px;
}

.post__image {}

.post__content {
    margin-top: -1px;
}

.post__date {
    padding-left: 0;
}

.post__title {
    margin-top: 4px;
}

.post__link {}

.search {
    padding-right: 1px;
    padding-left: 1px;
}

* + .search {
    margin-top: 60px;
}

.search__title {}

.search__form {
    padding-right: 0;
}

.input {
    padding: 16px 16px 17px;
}

.search__input {
    padding-right: 17px;
    border-right-width: 0;
}

.btn {}

.search__btn {}

.subscribe {
    box-sizing: border-box;
    padding-right: 1px;
    padding-left: 1px;
}

* + .subscribe {
    margin-top: 60px;
}

.subscribe__title {}

.subscribe__form {
    margin-top: 38px;
    margin-right: 0;
}

.subscribe__input {
    margin-right: 0;
}

.subscribe__btn {}

.tags {
    padding-right: 1px;
    padding-left: 1px;
}

* + .tags {
    margin-top: 59px;
}

.tags__title {}

.tags__list {
    row-gap: 6px;
    column-gap: 5px;
    margin-top: 39px;
}

.tags__item {}

.tags__link {
    padding: 6px 13px;
}

.categories {}

* + .categories {
    margin-top: 59px;
}

.categories__title {}

.categories__list {}

.categories__item {}

.categories__sup {}

.shop {
    margin-top: 63px;
}

.shop__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 64px;
    margin-top: 43px;
}

.item-shop__image {
    padding-right: 24px;
    padding-left: 23px;
}

.item-shop__content {
    padding: 52px 21px 25px 19px;
}

.item-shop__title {
    font-size: 20px;
    line-height: 1;
    /*line-height: calc(23.99 / 20);*/ /* 23.99px - по макету */
}

.item-shop__text {}

.item-shop__price--old {}

.item-shop__price--new {}

.footer {
    padding-bottom: 45px;
}

.social {
    margin-right: 0;
    margin-left: 0;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 6px;
}

.social__list {
    column-gap: 28px;
}

.social__item {}

.social__icon {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__copyright {
    margin-top: 73px;
}

.popup__dialog {
    margin-top: 243px;
    padding-right: 14px;
    padding-left: 15px;
}

.popup__content {
    padding: 51px 30px 54px;
}

.popup__content:before {
    top: -26px;
    right: -2px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
}

.popup__form {
    margin-top: 36px;
}

.popup__radio-group {
    margin-top: 6px;
    gap: 9px;
}

.radio + .label {
    padding-left: 23px;
}

.radio + .label:before {
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
}

.popup__form-group--3 {
    margin-top: 29px;
}