@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400; /* Соответствует значению normal */
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700; /* Соответствует значению bold */
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

a {
    color: inherit;
    text-decoration: none;
}

body, fieldset, h1, h2, h3, input, p, ul {
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
}

button, fieldset, input, legend, textarea, ul {
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
}

button, fieldset, input, textarea {
    border: 0;
}

select {
    appearance: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Open Sans", "Tahoma", sans-serif;
}

.header {
    --header-bg-image: url("../images/banner-mobile.jpg");
    position: relative;
    width: 100%;
    background-color: #000000;
    background-image: var(--header-bg-image, url("../images/banner-bg.jpg"));
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

.container {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header__container {
    position: relative;
    z-index: 2;
    padding-top: 32px;
    padding-bottom: 211px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.navbar__logo {
    width: 269px;
    padding-right: 1px;
}

.navbar__menu {
    margin-left: auto;
}

.menu-navbar__btn-close, .menu-navbar__btn-close:before, .menu-navbar__btn-close:after {
    display: block;
    width: 23px;
    height: 3px;
    background-color: #ffffff;
}

.menu-navbar__btn-close {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.menu-navbar__btn-close:before, .menu-navbar__btn-close:after {
    content: "";
    position: absolute;
}

.menu-navbar__btn-close:before {
    top: -8px;
}

.menu-navbar__btn-close:after {
    top: 8px;
}

.menu-navbar__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 35px;
}

.menu-navbar__item {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-navbar__link:hover {
    text-decoration: underline;
}

.header__title {
    max-width: 280px;
    margin-top: 269px;
    margin-right: auto;
    margin-left: auto;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(36 / 26);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.main {
    margin-top: 42px;
    margin-bottom: 42px;
}

.trends {
    overflow-x: hidden;
}

.main-section-title, .sidebar-section-title {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
}

.main-section-title:after, .sidebar-section-title:after {
    content: "";
    position: absolute;
    top: 28px;
    right: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 66px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(181, 159, 91, 0.4);
}

.trends__list {
    display: grid;
    grid-auto-rows: 1fr;
    align-items: stretch;
    row-gap: 3px;
    column-gap: 5px;
    margin-top: 38px;
}

.item-trends {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 231px;
    background-color: #000000;
    background-image: var(--item-trends-bg-image, none);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-trends:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
}

.item-trends--1 {
    --item-trends-bg-image: url("../images/trend1.jpg");
}

.item-trends__content {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 15px;
    padding: 31px 28px 27px 19px;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

.categories-item-trends {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    padding-left: 2px;
}

.categories-item-trends__item {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #b59f5b;
}

.categories-item-trends__link:hover {
    text-decoration: underline;
}

.item-trends__title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(19.99 / 16);
    text-transform: uppercase;
    color: #ffffff;
}

.item-trends__link:hover {
    color: #b59f5b;
}

.item-trends--2 {
    --item-trends-bg-image: url("../images/trend2.jpg");
}

.item-trends--3 {
    --item-trends-bg-image: url("../images/trend3.jpg");
}

.item-trends--4 {
    --item-trends-bg-image: url("../images/trend4.jpg");
}

.common-content {
    display: flex;
    flex-direction: column;
    row-gap: 41px;
}

* + .common-content {
    margin-top: 44px;
}

.cards {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.cards__list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.card__image {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.tags-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
}

.tags-card__item {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #b59f5b;
}

.tags-card__link:hover {
    text-decoration: underline;
}

.card__title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(19.99 / 16);
    text-transform: uppercase;
    color: #0f0d0e;
}

.card__link:hover {
    color: #b59f5b;
}

.card__subtitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 13px;
    margin-top: 20px;
}

.card__date, .card__author {
    font-size: 12px;
    line-height: 1;
}

.card__date {
    display: block;
    font-weight: 400;
    color: #888888;
}

.card__author {
    font-weight: 700;
    color: #000000;
}

.card__text {
    margin-top: 16px;
}

.text-card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(20 / 14);
    color: #0f0d0e;
}

.sidebar {
    width: 100%;
}

.latest-posts {
    box-sizing: border-box;
    width: 100%;
    padding-right: 1px;
}

.latest-posts__list {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-top: 43px;
}

.post {
    display: flex;
    align-items: flex-start;
    column-gap: 18px;
}

.post__image {
    width: 70px;
    object-fit: cover;
    object-position: center center;
}

.post__content {
    margin-top: -1px;
}

.post__date {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: rgba(0, 0, 0, 0.54);
}

.post__title {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(17.99 / 14);
    text-transform: uppercase;
    color: #000000;
}

.post__link:hover {
    color: #b59f5b;
}

.search {
    box-sizing: border-box;
}

* + .search {
    margin-top: 60px;
}

.search__form {
    display: flex;
}

.label, .input, .select, .textarea {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}

.label {
    margin-right: 5px;
    line-height: calc(16 / 13);
}

.input, .select, .textarea {
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    line-height: 1;
    background-color: #f4f7f6;
    border: 1px solid #f4f7f6;
    border-radius: 0;
}

.input, .select {
    height: 48px;
}

.input {
    padding: 15px 16px 17px;
}

.select {
    padding: 15px 40px 17px 18px;
    background-image: url("../svg/form-arrows.svg");
    background-position: top 16px right 13px;
    background-repeat: no-repeat;
    background-size: 9px 16px;
}

.textarea {
    min-height: 131px;
    padding: 19px 20px 19px 20px;
    resize: none;
}

.input:focus-visible, .select:focus-visible, .textarea:focus-visible {
    border-color: #b59f5b;
    outline: 0;
}

.input:hover, .select:hover, .textarea:hover {
    border-color: #b59f5b;
}

.search__input {
    flex: auto;
    padding-right: 17px;
    border-right-width: 0;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 48px;
    padding: 15px 18px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #b59f5b;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #323232;
}

.search__btn {
    flex: none;
    width: 48px;
    background-image: url("../svg/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
}

.subscribe {
    box-sizing: border-box;
}

* + .subscribe {
    margin-top: 42px;
}

.subscribe__form {
    margin-top: 38px;
}

.subscribe__btn {
    width: 100%;
    margin-top: 18px;
}

.tags {
    box-sizing: border-box;
}

* + .tags {
    margin-top: 42px;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 5px;
    margin-top: 39px;
}

.tags__item {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #0f0d0e;
}

.tags__link {
    display: block;
    padding: 6px 12.5px;
    border: 3px solid #ededed;
}

.tags__link:hover {
    border-color: #b59f5b;
}

.categories {
    box-sizing: border-box;
    padding-right: 1px;
}

* + .categories {
    margin-top: 42px;
}

.categories__list {
    margin-top: 25px;
}

.categories__item {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
}

.categories__link:hover {
    color: #b59f5b;
}

.categories__sup {
    margin-left: 4px;
    font-size: 12px;
    line-height: 1;
    vertical-align: 4px;
    color: #b59f5b;
}

* + .shop {
    margin-top: 44px;
}

.shop__list {
    display: grid;
    row-gap: 23px;
    margin-top: 44px;
}

.item-shop {
    display: flex;
    flex-direction: column;
}

.item-shop__image {
    box-sizing: border-box;
    width: 100%;
    padding-right: 25px;
    padding-left: 21px;
}

.item-shop__content {
    flex-grow: 1;
    margin-top: -36px;
    padding: 51px 22px 26px 17px;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

.item-shop__title {
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #0f0d0e;
}

.item-shop__text {
    margin-top: 5px;
    font-size: 15px;
    line-height: calc(22 / 15);
    color: #000000;
}

.item-shop__link {
    color: #b59f5b;
}

.item-shop__link:hover {
    text-decoration: underline;
}

.item-shop__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.item-shop__price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 1px;
    margin-bottom: 7px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
}

.item-shop__price--old {
    display: block;
    font-size: 14px;
    line-height: 1;
    text-decoration: line-through;
}

.item-shop__price--new {
    display: block;
    font-size: 20px;
    line-height: 1;
}

.item-shop__btn {
    width: 140px;
    height: 49px;
    padding-top: 18px;
    padding-left: 19px;
}

.footer {
    padding-bottom: 46px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
    padding-left: 6px;
    background-color: #f4f7f6;
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
}

.social__icon {
    display: block;
    width: 20px;
    height: 20px;
    background-image: var(--social-icon-bg-image, none);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social__icon--dribbble {
    --social-icon-bg-image: url("../svg/001-dribbble.svg");
}

.social__icon--pinterest {
    --social-icon-bg-image: url("../svg/002-pinterest.svg");
}

.social__icon--tumblr {
    --social-icon-bg-image: url("../svg/003-tumblr.svg");
}

.footer__copyright {
    display: block;
    margin-top: 49px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #999999;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup.hidden {
    display: none;
}

.popup__dialog {
    width: 100%;
    max-width: 390px;
    margin-top: 56px;
    padding-right: 15px;
    padding-left: 14px;
}

.popup__content {
    background-color: #ffffff;
}

.popup__header, .popup__form {
    padding-top: 28px;
    padding-right: 26px;
    padding-left: 24px;
}

.popup__header {
    position: relative;
    padding-bottom: 37px;
}

.popup__form {
    padding-bottom: 30px;
}

.popup__header + .popup__form {
    padding-top: 0;
}

.popup__btn-close {
    --btn-cloce-width: 27px;
    --btn-cloce-height: 27px;
    position: absolute;
    top: -32px;
    right: 1px;
    width: var(--btn-cloce-width, 27px);
    height: var(--btn-cloce-height, 27px);
    background-color: transparent;
    background-image: url("../svg/form-x.svg");
    background-size: var(--btn-cloce-width, 27px) var(--btn-cloce-height, 27px);
}

.popup__select {
    margin-top: 7px;
}

.popup__form-group--2 {
    margin-top: 31px;
}

.popup__radio-group {
    display: flex;
    gap: 28px;
    margin-top: 10px;
}

.radio {
    display: none;
}

.radio + .label {
    position: relative;
    padding-left: 31px;
}

.radio + .label:before {
    --radio-icon-width: 25px;
    --radio-icon-height: 25px;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: var(--radio-icon-width, 25px);
    height: var(--radio-icon-height, 25px);
    background-image: url("../svg/form-empty-circle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--radio-icon-width, 25px) var(--radio-icon-height, 25px);
    transform: translateY(-50%);
}

.radio:checked + .label:before {
    background-image: url("../svg/form-circle.svg");
}

.popup__form-group--3 {
    margin-top: 32px;
}

.popup__textarea {
    margin-top: 7px;
}

.popup__btn {
    width: 100%;
    margin-top: 22px;
}

@media (max-width: 640px) {
    .navbar {
        margin-right: 1px;
    }

    .navbar__link {
        position: absolute;
        top: 193px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__title {
        padding-left: 4px;
    }

    .card {
        padding-right: 1px;
        padding-bottom: 20px;
    }

    .card__text {
        margin-right: 3px;
    }

    .latest-posts__list {
        margin-left: -1px;
    }

    .search {
        margin-left: -1px;
    }

    .subscribe__btn {
        margin-left: -1px;
    }

    .item-shop__title {
        margin-left: -1px;
    }

    .item-shop__text {
        margin-right: -5px;
    }

    .radio + .label {
        margin-left: 1px;
    }
}

@media (min-width: 641px) {
    .header {
        --header-bg-image: url("../images/banner-bg-tablet.jpg");
    }

    .header__container {
        padding-top: 43px;
        padding-bottom: 113px;
    }

    .navbar__logo {
        width: 158px;
    }

    .menu-navbar {
        padding-top: 10px;
        padding-bottom: 7px;
    }

    .header__title {
        max-width: 611px;
        margin-top: 85px;
        font-size: 40px;
        line-height: calc(54.98 / 40);
    }

    .main {
        margin-top: 47px;
        margin-bottom: 51px;
    }

    .main-section-title {
        font-size: 18px;
    }

    .main-section-title:after {
        top: 30px;
    }

    .trends__list {
        margin-top: 34px;
    }

    .item-trends {
        min-height: 247px;
    }

    .item-trends__content {
        margin: 15px 19px;
        padding: 34px 26px 29px 30px;
    }

    .item-trends__title {
        margin-top: 9px;
        font-size: 17px;
        line-height: calc(21.99 / 17);
    }

    .common-content {
        flex-direction: row;
        column-gap: 35px;
    }

    * + .common-content {
        margin-top: 50px;
    }

    .cards__list {
        row-gap: 41px;
    }

    .card {
        row-gap: 15px;
    }

    .card__title {
        margin-top: 11px;
        font-size: 17px;
        line-height: calc(21.99 / 17);
    }

    .card__subtitle {
        column-gap: 13px;
        margin-top: 33px;
    }

    .card__text {
        margin-top: 30px;
    }

    .text-card {
        row-gap: 11px;
        font-size: 15px;
        line-height: calc(22 / 15);
    }

    .sidebar {
        flex: 0 0 271px;
    }

    .sidebar-section-title {
        font-size: 14px;
    }

    .sidebar-section-title:after {
        top: 26px;
    }

    .input {
        padding-top: 16px;
    }

    * + .subscribe {
        margin-top: 60px;
    }

    * + .tags {
        margin-top: 59px;
    }

    .tags__link {
        padding: 6px 13px;
    }

    * + .categories {
        margin-top: 59px;
    }

    .categories__list {
        margin-right: 1px;
        margin-left: -1px;
    }

    .categories__item {
        padding-right: 2px;
        padding-left: 2px;
    }

    * + .shop {
        margin-top: 44px;
    }

    .shop__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 27px;
        column-gap: 23px;
        margin-top: 43px;
        margin-right: 1px;
    }

    .item-shop__image {
        padding-right: 23px;
        padding-left: 23px;
    }

    .item-shop__content {
        margin-top: -37px;
        padding: 52px 21px 25px 19px;
    }

    .footer {
        padding-bottom: 38px;
    }

    .footer__copyright {
        margin-left: 12px;
    }

    .popup__dialog {
        margin-top: 236px;
        padding-right: 16px;
        padding-left: 13px;
    }

    .popup__header, .popup__form {
        padding-top: 52px;
        padding-right: 30px;
        padding-left: 30px;
    }

    .popup__form {
        padding-bottom: 54px;
    }

    .popup__btn-close {
        top: -36px;
        right: 0;
    }

    .radio + .label {
        padding-left: 32px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container {
        padding-right: 35px;
        padding-left: 35px;
    }

    .card {
        padding-bottom: 17px;
    }

    .card:last-child {
        border-bottom-color: #ffffff;
    }

    .card__title {
        margin-right: -2px;
    }

    .card__text {
        margin-right: 2px;
    }

    .post__date {
        padding-left: 1px;
    }

    .search__form {
        padding-right: 1px;
    }

    .subscribe__form {
        margin-right: 1px;
    }

    .subscribe__input {
        margin-right: 1px;
    }

    .social {
        margin-right: 1px;
        margin-left: -1px;
        padding-top: 31px;
        padding-left: 10px;
    }
}

@media (max-width: 1199px) {
    .menu-navbar__list {
        display: none;
    }

    .card {
        border-bottom: 3px solid #eeeeee;
    }

    .card__title {
        margin-left: -2px;
    }

    .card__subtitle {
        margin-left: -2px;
    }

    .card__text {
        margin-left: -1px;
    }
}

@media (min-width: 1200px) {
    .header {
        --header-bg-image: url("../images/banner-bg.jpg");
    }

    .container {
        max-width: 1200px;
    }

    .header__container {
        padding-top: 28px;
        padding-bottom: 126px;
    }

    .navbar {
        margin-left: 3px;
    }

    .navbar__logo {
        width: 179px;
    }

    .menu-navbar {
        padding-top: 15px;
        padding-bottom: 17px;
    }

    .menu-navbar__btn-close {
        display: none;
    }

    .header__title {
        max-width: 690px;
        margin-top: 99px;
        font-size: 45px;
        line-height: calc(74.97 / 45);
    }

    .main {
        margin-top: 61px;
        margin-bottom: 64px;
    }

    .main-section-title {
        font-size: 20px;
    }

    .main-section-title:after {
        top: 31px;
    }

    .trends__list {
        column-gap: 4px;
        margin-top: 42px;
        margin-right: -4px;
        margin-left: -4px;
    }

    .item-trends {
        min-height: 320px;
    }

    .item-trends__content {
        margin: 16px 22px;
        padding: 37px 32px 32px;
    }

    .item-trends__title {
        font-size: 20px;
        line-height: calc(23.99 / 20);
    }

    .common-content {
        column-gap: 117px;
    }

    * + .common-content {
        margin-top: 64px;
    }

    .cards__list {
        row-gap: 60px;
    }

    .card {
        flex-direction: row;
        align-items: flex-start;
        column-gap: 30px;
    }

    .card__image {
        flex: 0 0 381px;
    }

    .card__title {
        margin-top: 9px;
        font-size: 20px;
        line-height: calc(23.99 / 20);
    }

    .card__subtitle {
        column-gap: 12px;
        margin-top: 31px;
    }

    .card__text {
        margin-top: 47px;
    }

    .sidebar {
        flex-basis: 272px;
        margin-top: -2px;
    }

    .latest-posts__list {
        margin-top: 44px;
    }

    .search {
        padding-right: 1px;
        padding-left: 1px;
    }

    .subscribe {
        padding-right: 1px;
        padding-left: 1px;
    }

    .tags {
        padding-right: 1px;
        padding-left: 1px;
    }

    * + .shop {
        margin-top: 63px;
    }

    .shop__list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 64px;
    }

    .item-shop__image {
        padding-right: 24px;
    }

    .item-shop__title {
        font-size: 20px;
    }

    .footer {
        padding-bottom: 45px;
    }

    .footer__copyright {
        margin-top: 73px;
    }

    .popup__dialog {
        margin-top: 243px;
        padding-right: 14px;
        padding-left: 15px;
    }

    .popup__header, .popup__form {
        padding-top: 51px;
    }

    .popup__header {
        padding-bottom: 36px;
    }

    .popup__btn-close {
        --btn-cloce-width: 18px;
        --btn-cloce-height: 18px;
        top: -26px;
        right: -2px;
    }

    .popup__radio-group {
        margin-top: 6px;
        gap: 9px;
    }

    .radio + .label {
        padding-left: 23px;
    }

    .radio + .label:before {
        --radio-icon-width: 17px;
        --radio-icon-height: 17px;
    }

    .popup__form-group--3 {
        margin-top: 29px;
    }
}

@media (max-width: 640px), (min-width: 1200px) {
    .latest-posts {
        padding-left: 1px;
    }
}

@media (max-height: 640px) and (orientation: landscape), (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trends__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-height: 641px) and (max-height: 1199px) and (orientation: landscape), (min-width: 1200px) {
    .trends__list {
        grid-template-columns: repeat(4, 1fr);
    }
}