body {
    width: 768px; /* tablet-version */
}

.header {
    background-image: url("../images/banner-bg-tablet.jpg");
}

.container {
    max-width: 768px;
    padding-right: 35px;
    padding-left: 35px;
}

.header__container {
    padding-top: 43px;
    padding-bottom: 124px;
}

.navbar__link {
    position: static;
    transform: none;
}

.navbar__logo {
    width: 158px;
}

.menu-navbar {
    padding-top: 10px;
    padding-bottom: 7px;
}

.menu-navbar__btn-close {
    margin-right: 0;
}

.header__title {
    max-width: 611px;
    margin-top: 103px;
    padding-left: 0;
    font-size: 40px;
    line-height: 1.3745;
}

.main {
    margin-top: 47px;
    margin-bottom: 51px;
}

.main-section__title {
    font-size: 18px;
    line-height: 1;
}

.main-section__title:after, .sidebar-section__title:after {
    width: 66px;
    height: 3px;
}

.main-section__title:after {
    top: 27px;
}

.sidebar-section__title {
    font-size: 14px;
    line-height: 1;
}

.sidebar-section__title:after {
    top: 24px;
}

.trends__title {
    margin-left: 0;
}

.trends__title:after {
    top: 31px;
}

.trends__list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 3px 4px;
    margin-top: 34px;
}

.item-trends {
    min-height: 247px;
}

.item-trends__content {
    margin: 15px 19px 15px 20px;
    /*margin: 15px 21px 15px 19px;*/
    /*margin: 15px 18px 15px 19px;*/
    /*margin: 15px 19px 15px 21px;*/
    /*margin: 15px 17px 15px 20px;*/
    padding: 35px 58px 31.5px 30px;
    /*padding: 35px 108px 30px 30px;*/
    /*padding: 35px 64px 33px 30px;*/
    /*padding: 35px 96px 30px 30px;*/
    /*padding: 35px 60px 33px 31px;*/
}

.categories-item-trends__list {
    padding-left: 2px;
    column-gap: 19px;
    /*column-gap: 20px;*/
    /*column-gap: 18px;*/
    /*column-gap: 19px;*/
}

.categories-item-trends__item {
    font-size: 14px;
    line-height: 1;
}

.item-trends__title {
    margin-top: 12.5px;
    /*margin-top: 11px;*/
    /*margin-top: 14px;*/
    /*margin-top: 11px;*/
    /*margin-top: 11px;*/
    font-size: 17px;
    line-height: 1.293529411764706; /* 21.99px */
}

.common-content {
    flex-direction: row;
    column-gap: 35px;
    margin-top: 50px;
}

.cards {
    row-gap: 42px;
    /*row-gap: 42px;*/
    /*row-gap: 42px;*/
    /*row-gap: 42px;*/
}

.card {
    margin-right: 0;
    padding-bottom: 18px;
    /*padding-bottom: 19px;*/
    /*padding-bottom: 17px;*/
    /*padding-bottom: 19px;*/
}

.card:last-child {
    border-bottom-color: #ffffff;
}

.card__image {
    margin-left: -0.5px;
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: -1px;*/
    margin-right: 0.5px;
    /*margin-right: 0;*/
    /*margin-right: 0;*/
    /*margin-right: 1px;*/
    /*margin-right: 0;*/
    /*margin-right: 0;*/
}

.card__content {
    margin-left: -2.5px;
    /*margin-left: -1px;*/
    /*margin-left: -2px;*/
    /*margin-left: -4px;*/
    /*margin-left: -1px;*/
    /*margin-left: -1px;*/
}

.card__image + .card__content {
    margin-top: 16px;
    /*margin-top: 16px;*/
    /*margin-top: 16px;*/
    /*margin-top: 16px;*/
    /*margin-top: 16px;*/
    /*margin-top: 16px;*/
}

.card__tags {
    margin-left: 1.5px;
    /*margin-left: 0;*/
    /*margin-left: 3px;*/
    /*margin-left: 3px;*/
    /*margin-left: 1px;*/
    /*margin-left: 2px;*/
}

.tags-card__list {
    column-gap: 18.5px;
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
    /*column-gap: 19px | 18px;*/
}

.tags-card__item {
    font-size: 14px;
    line-height: 1;
}

.card__title {
    margin-top: 14.5px;
    /*margin-top: 16px;*/
    /*margin-top: 13px;*/
    /*margin-top: 16px;*/
    /*margin-top: 13px;*/
    /*margin-top: 16px;*/
    margin-left: 1.5px;
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 3px;*/
    /*margin-left: 3px;*/
    /*margin-left: 0;*/
    font-size: 17px;
    line-height: 1.293529411764706; /* 21.99px */
    text-indent: 0.5px;
    /*text-indent: -1px;*/
    /*text-indent: 2px;*/
    /*text-indent: 0;*/
    /*text-indent: 0;*/
    /*text-indent: 0;*/
}

.card__subtitle {
    column-gap: 13.5px;
    /*column-gap: 14px;*/
    /*column-gap: 13px;*/
    /*column-gap: 13px;*/
    /*column-gap: 13px;*/
    /*column-gap: 14px;*/
    margin-top: 35.5px;
    /*margin-top: 37px;*/
    /*margin-top: 37px;*/
    /*margin-top: 37px;*/
    /*margin-top: 34px;*/
    /*margin-top: 34px;*/
    margin-left: 0px;
    /*margin-left: -1px;*/
    /*margin-left: -1px;*/
    /*margin-left: 1px;*/
    /*margin-left: 1px;*/
    /*margin-left: 1px;*/
}

.card__date, .card__author {
    font-size: 12px;
    line-height: 1;
}

.card__text {
    margin-top: 33px;
    /*margin-top: 33px;*/
    /*margin-top: 35px;*/
    /*margin-top: 31px;*/
    /*margin-top: 32px;*/
    /*margin-top: 31px;*/
    margin-right: 0;
    margin-left: 1px;
    /*margin-left: 0;*/
    /*margin-left: 2px;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 2px;*/
}

.text-card {
    row-gap: 17px;
    font-size: 15px;
    line-height: 1.466666666666667; /* 22px */
    text-indent: -0.5px;
    /*text-indent: 1px;*/
    /*text-indent: 0;*/
    /*text-indent: -2px;*/
    /*text-indent: -1px;*/
    /*text-indent: 0;*/
}

.text-card__paragraph:nth-child(n + 2) {
    margin-left: 1px;
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 2px;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    text-indent: 0;
    /*text-indent: 1px;*/
    /*text-indent: 0;*/
    /*text-indent: 0;*/
    /*text-indent: -1px;*/
    /*text-indent: 0;*/
}

.sidebar {
    flex: 0 0 271px;
    margin-top: 1px;
}

.latest-posts__list {
    row-gap: 22px;
    /*row-gap: 22px;*/
    /*row-gap: 22px;*/
    /*row-gap: 22px;*/
    /*row-gap: 22px;*/
    margin-top: 46px;
    margin-left: 0;
}

.post {
    column-gap: 19px;
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
    /*column-gap: 19px;*/
}

.post__image {
    width: 70px;
}

.post__content {
    margin-top: -0.5px;
    /*margin-top: 0;*/
    /*margin-top: -1px;*/
    /*margin-top: 0;*/
    /*margin-top: 0;*/
    /*margin-top: 0;*/
}

.post__date {
    margin-left: 0;
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    /*margin-left: 0;*/
    font-size: 12px;
    line-height: 1;
}

.post__title {
    margin-top: 6.5px;
    /*margin-top: 9px;*/
    /*margin-top: 5px;*/
    /*margin-top: 7px;*/
    /*margin-top: 4px;*/
    /*margin-top: 7px;*/
    margin-left: -0.5px;
    /*margin-left: 1px;*/
    /*margin-left: 0;*/
    /*margin-left: -1px;*/
    /*margin-left: -1px;*/
    /*margin-left: -2px;*/
    font-size: 14px;
    line-height: 1.285; /* 17.99px */
    text-indent: -0.5px;
    /*text-indent: 0;*/
    /*text-indent: 0;*/
    /*text-indent: 0;*/
    /*text-indent: 0;*/
    /*text-indent: -1px;*/
}

.search {
    margin-left: 0;
}

* + .search {
    margin-top: 60px;
}

.search__form {
    margin-right: 1px;
}

.input {
    padding-top: 16px;
    padding-right: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    font-size: 13px;
    line-height: 1;
}

.search__input {
    padding-right: 18px;
    border-right-width: 0;
}

.btn {
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 15px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 1;
}

.search__btn {
    width: 48px;
    background-size: 18px;
}

* + .subscribe {
    margin-top: 62px;
}

.subscribe__form {
    margin-top: 40px;
    margin-right: 1px;
}

.subscribe__input {}

.subscribe__btn {
    margin-top: 18px;
}

* + .tags {
    margin-top: 61px;
}

.tags__list {
    margin-top: 41px;
    column-gap: 6px;
    /*column-gap: 5px;*/
    /*column-gap: 6px;*/
    /*column-gap: 6px;*/
    /*column-gap: 6px;*/
    /*column-gap: 6px;*/
    row-gap: 6px;
}

.tags__item {
    font-size: 12px;
    line-height: 1;
}

.tags__link {
    padding-top: 7px;
    /*padding-top: 8px;*/
    /*padding-top: 7px;*/
    /*padding-top: 7px;*/
    /*padding-top: 7px;*/
    /*padding-top: 7px;*/
    /*padding-top: 8px;*/
    /*padding-top: 8px;*/
    /*padding-top: 7px;*/
    padding-right: 13px;
    /*padding-right: 14px;*/
    /*padding-right: 16px;*/
    /*padding-right: 13px;*/
    /*padding-right: 15px;*/
    /*padding-right: 10px;*/
    /*padding-right: 13px;*/
    /*padding-right: 12px;*/
    /*padding-right: 11px;*/
    padding-bottom: 7px;
    /*padding-bottom: 6px;*/
    /*padding-bottom: 7px;*/
    /*padding-bottom: 7px;*/
    /*padding-bottom: 7px;*/
    /*padding-bottom: 7px;*/
    /*padding-bottom: 6px;*/
    /*padding-bottom: 6px;*/
    /*padding-bottom: 7px;*/
    padding-left: 13px;
    /*padding-left: 13px;*/
    /*padding-left: 15px;*/
    /*padding-left: 13px;*/
    /*padding-left: 14px;*/
    /*padding-left: 11px;*/
    /*padding-left: 13px;*/
    /*padding-left: 13px;*/
    /*padding-left: 13px;*/
}

* + .categories {
    margin-top: 61px;
}

.categories__list {
    padding-top: 42.5px; /* 58px - 15.5px */
    margin-right: 1px;
    margin-left: -1px;
}

.categories__item {
    padding-top: 15.5px;
    /*padding-top: 17px;*/
    /*padding-top: 16px;*/
    /*padding-top: 16px;*/
    /*padding-top: 17px;*/
    /*padding-top: 14px;*/
    padding-bottom: 15px;
    /*padding-bottom: 12px;*/
    /*padding-bottom: 13px;*/
    /*padding-bottom: 13px;*/
    /*padding-bottom: 13px;*/
    /*padding-bottom: 14px;*/
    /*padding-bottom: 18px;*/
    padding-left: 2px;
    font-size: 14px;
    line-height: 1;
}

.categories__sup {
    margin-left: 4px;
    /*margin-left: 4px;*/
    /*margin-left: 5px;*/
    /*margin-left: 4px;*/
    /*margin-left: 4px;*/
    /*margin-left: 5px;*/
    /*margin-left: 3px;*/
    font-size: 12px;
    vertical-align: 5px;
    /*vertical-align: 5px;*/
    /*vertical-align: 5px;*/
    /*vertical-align: 5px;*/
    /*vertical-align: 5px;*/
    /*vertical-align: 4px;*/
    /*vertical-align: 0px;*/
}

.shop {
    margin-top: 49px;
}

.shop__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 22px;
    /*column-gap: 23px;*/
    /*column-gap: 22px;*/
    row-gap: 28px;
    margin-top: 41px;
    margin-right: 1px;
    /*margin-right: 0;*/
    /*margin-right: 1px;*/
    /*margin-right: -1px;*/
    margin-left: 0;
    /*margin-left: -1px;*/
    /*margin-left: 0px;*/
    /*margin-left: 0px;*/
}

.item-shop__image {
    padding-right: 24px;
    /*padding-right: 24px;*/
    /*padding-right: 23px;*/
    /*padding-right: 24px;*/
    padding-left: 23px;
    /*padding-left: 23px;*/
    /*padding-left: 22px;*/
    /*padding-left: 23px;*/
}

.item-shop__content {
    margin-top: -35px;
    /*margin-top: -32px;*/
    /*margin-top: -32px;*/
    /*margin-top: -38px;*/
    padding-top: 55px;
    /*padding-top: 54px;*/
    /*padding-top: 51px;*/
    /*padding-top: 59px;*/
    padding-right: 21px;
    padding-bottom: 26px;
    /*padding-bottom: 69px;*/
    /*padding-bottom: 26px;*/
    /*padding-bottom: 26px;*/
    padding-left: 21px;
    /*padding-left: 21px;*/
    /*padding-left: 20px;*/
    /*padding-left: 21px;*/
}

.item-shop__title {
    font-size: 17px;
    line-height: 1;
}

.item-shop__text {
    margin-top: 10px;
    /*margin-top: 8px;*/
    /*margin-top: 12px;*/
    /*margin-top: 11px;*/
    margin-right: 0;
    font-size: 15px;
    line-height: 22px;
}

.item-shop__footer {
    margin-top: 24px;
    /*margin-top: 24px;*/
    /*margin-top: 24px;*/
    /*margin-top: 23px;*/
}

.item-shop__price {
    row-gap: 4px;
    margin-bottom: 9px;
}

.item-shop__price--old {
    font-size: 14px;
    line-height: 1;
}

.item-shop__price--new {
    font-size: 20px;
    line-height: 1;
}

.item-shop__btn {
    width: 140px;
    height: 48px;
    padding: 17px 26px 17px 28px;
}

.footer {
    padding-bottom: 36px;
}

.social {
    margin-right: 1px;
    margin-left: -1px;
    padding-top: 31px;
    padding-bottom: 31px;
}

.social__list {
    column-gap: 26.75px;
    /*column-gap: 28px;*/
    /*column-gap: 25.5px;*/
}

.social__icon {
    width: 20px;
    height: 20px;
}

.footer__copyright {
    margin-top: 49px;
    font-size: 12px;
    line-height: 1;
}

.popup {
    width: 768px;
    padding-top: 236px;
    padding-right: 190px;
    padding-left: 188px;
}

.popup__container {
    padding-top: 55px;
    padding-left: 30px;
}

.popup__form {
    margin-top: 42px;
}

.label {
    font-size: 13px;
    line-height: 1;
}

.select {
    padding-top: 17px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 18px;
    font-size: 13px;
    line-height: 1;
    background-position: top 16px right 14px;
    background-size: 8px 17px;
}

.popup__select {
    margin-top: 9px;
}

.popup__form-group--2 {
    margin-top: 34px;
}

.popup__radio-group {
    column-gap: 34px;
    margin-top: 9px;
}

.radio + .label {
    margin-left: 0;
    padding-left: 32px;
    /*padding-left: 31px;*/
    /*padding-left: 32px;*/
}

.radio + .label:before {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}