body {
    /*width: 768px;  tablet-version */
}

.header {
    --header-bg-image: url("../images/banner-bg-tablet.jpg");
}

.container {
    max-width: 768px;
    padding-right: 35px;
    padding-left: 35px;
}

.header__container {
    padding-top: 43px;
    padding-bottom: 113px;
}

.navbar {
    margin-right: 0;
}

.navbar__link {
    position: static;
    transform: none;
}

.navbar__logo {
    width: 158px;
}

.navbar__menu {}

.menu-navbar {
    padding-top: 10px;
    padding-bottom: 7px;
}

.menu-navbar__btn-close {}

.menu-navbar__list {}

.menu-navbar__item {}

.menu-navbar__link {}

.header__title {
    max-width: 611px;
    margin-top: 85px;
    padding-left: 0;
    font-size: 40px;
    line-height: calc(54.98 / 40); /* 54.98px - по макету */
}

.main {
    margin-top: 47px;
    margin-bottom: 51px;
}

.trends {}

.main-section__title {
    font-size: 18px;
    line-height: 1;
    /*line-height: calc(29.15 / 18);*/ /* 29.15px - по макету */
}

.main-section__title:after {
    top: 30px;
}

.trends__title {}

.trends__title:after {
    top: 31px;
}

.trends__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3px;
    column-gap: 5px;
    margin-top: 34px;
}

.trends__item {}

.item-trends {
    min-height: 247px;
}

.item-trends--1 {}

.item-trends__content {
    margin-top: 15px;
    margin-right: 19px;
    margin-bottom: 15px;
    margin-left: 19px;
    padding-top: 34px;
    padding-right: 26px;
    padding-bottom: 29px;
    padding-left: 30px;
}

.item-trends__categories {}

.categories-item-trends__list {
    column-gap: 18px;
}

.categories-item-trends__item {}

.categories-item-trends__link {}

.item-trends__title {
    margin-top: 9px;
    font-size: 17px;
    line-height: calc(21.99 / 17); /* 21.99px - по макету */
}

.item-trends__link {}

.item-trends--2 {}

.item-trends--3 {}

.item-trends--4 {}

.common-content {
    flex-direction: row;
    column-gap: 35px;
    margin-top: 50px;
}

.cards {
    row-gap: 41px;
}

.card {
    row-gap: 15px;
    padding-right: 0;
    padding-bottom: 17px;
}

.card:last-child {
    border-bottom-color: #ffffff;
}

.card__image {}

.card__content {}

.card__tags {}

.tags-card__list {
    column-gap: 18px;
}

.tags-card__item {}

.tags-card__link {}

.card__title {
    margin-top: 11px;
    margin-right: -2px;
    margin-left: -2px;
    font-size: 17px;
    line-height: calc(21.99 / 17); /* 21.99px - по макету */
}

.card__link {}

.card__subtitle {
    column-gap: 13px;
    margin-top: 33px;
    margin-left: -2px;
}

.card__date {}

.card__author {}

.card__text {
    margin-top: 30px;
    margin-right: 2px;
    margin-left: -1px;
}

.text-card {
    row-gap: 11px;
    font-size: 15px;
    line-height: calc(22 / 15); /* 22px - по макету */
}

.text-card__paragraph:nth-child(n + 2) {
    margin-left: 1px;
    text-indent: 0;
}

.sidebar {
    flex: 0 0 271px;
}

.latest-posts {
    padding-left: 0;
}

.sidebar-section__title {
    font-size: 14px;
    line-height: 1;
    /*line-height: calc(29.15 / 14);*/ /* 29.15px - по макету */
}

.sidebar-section__title:after {
    top: 26px;
}

.latest-posts__title {}

.latest-posts__list {
    row-gap: 22px;
    margin-top: 43px;
    margin-left: 0;
}

.post {
    column-gap: 18px;
}

.post__image {
    width: 70px;
}

.post__content {}

.post__date {
    padding-left: 1px;
}

.post__title {
    margin-top: 4px;
}

.post__link {}

.search {
    margin-left: 0;
}

* + .search {
    margin-top: 60px;
}

.search__title {}

.search__form {
    padding-right: 1px;
}

.label {}

.search__label {}

.input {
    padding: 16px 16px 17px;
}

.search__input {
    padding-right: 17px;
    border-right-width: 0;
}

.btn {}

.search__btn {}

* + .subscribe {
    margin-top: 60px;
}

.subscribe__title {}

.subscribe__form {
    margin-top: 38px;
    margin-right: 1px;
}

.subscribe__label {}

.subscribe__input {
    margin-right: 1px;
}

.subscribe__btn {
    margin-top: 18px;
    margin-left: 0;
}

* + .tags {
    margin-top: 59px;
}

.tags__title {}

.tags__list {
    margin-top: 39px;
    row-gap: 6px;
    column-gap: 5px;
}

.tags__item {}

.tags__link {
    padding: 6px 13px;
}

* + .categories {
    margin-top: 59px;
}

.categories__title {}

.categories__list {
    margin-top: 25px;
    margin-right: 1px;
    margin-left: -1px;
}

.categories__item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
}

.categories__link {}

.categories__sup {
    margin-left: 4px;
    vertical-align: 4px;
}

.shop {
    margin-top: 44px;
}

.shop__title {}

.shop__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 27px;
    column-gap: 23px;
    margin-top: 43px;
    margin-right: 1px;
}

.shop__item {}

.item-shop {}

.item-shop__image {
    padding-right: 23px;
    padding-left: 23px;
}

.item-shop__content {
    margin-top: -37px;
    padding: 52px 21px 25px 19px;
}

.item-shop__title {
    margin-left: 0;
}

.item-shop__text {
    margin-top: 5px;
    margin-right: 0;
}

.item-shop__link {}

.item-shop__footer {
    margin-top: 22px;
}

.item-shop__price {
    row-gap: 1px;
    margin-bottom: 7px;
}

.item-shop__price--old {}

.item-shop__price--new {}

.item-shop__btn {}

.footer {
    padding-bottom: 38px;
}

.social {
    margin-right: 1px;
    margin-left: -1px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 10px;
}

.social__list {}

.social__item {}

.social__icon {
    width: 20px;
    height: 20px;
}

.footer__copyright {
    margin-left: 12px;
}

.popup {}

.popup__dialog {
    margin-top: 236px;
    padding-right: 16px;
    padding-left: 13px;
}

.popup__content {
    position: relative;
    padding-top: 52px;
    padding-right: 30px;
    padding-bottom: 54px;
    padding-left: 30px;
}

.popup__content:before {
    top: -36px;
    right: 0;
}

.popup__form {}

.select {}

.popup__select {}

.popup__form-group--2 {}

.popup__radio-group {}

.radio + .label {
    margin-left: 0;
    padding-left: 32px;
}

.radio + .label:before {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

.popup__form-group--3 {}

.textarea {}

.popup__textarea {}

.popup__btn {}